.education-list-item-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    padding: 5px;
    margin: 10px;
    box-shadow: 0px 0px 15px -5px;
    margin-top: 25px;
    border-radius: 40px;
    border-width: 2px;
    width: 80%;
}
.education-list-item-college-year-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    padding-top: 15px;
}
.education-list-item-college-year-container a {
    text-decoration: none;
}
.education-list-item-college-year-container a:hover {
    transform: scale(1.01);
    transition: 0.16s ease-out;
}

.education-list-item-college-year-container li {
    font-family: "Poppins Regular";
    font-size: 20px;
    color: var(--background_color);
    margin-left: 25px;
}
.education-list-item-year {
    background-color: var(--background_color);
    padding: 10px;
    margin-top: 10px;
    border-radius: 40px;
    min-width: 200px;
    max-width: 300px;
}
.education-list-item-year p {
    font-family: "Poppins Regular";
    color: var(--text-color);
}
.education-list-item-major {
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
}
.education-list-item-major p {
    font-family: "Poppins Regular";
}
.image-container {
    display: flex;
    width: 150px;
    height: 70px;
    overflow: hidden;
    justify-content: center;

}
.image-parent img{
    width: 100px;
    height: 60px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1110px) {
    .education-list-item-college-year-container {
        grid-template-columns: 3.1fr 0.9fr;
    }
    .education-list-item-college-year-container li {
        font-size: 18px;
    }
}
@media screen and (max-width: 910px) {
    .education-list-item-college-year-container a:hover {
        transform: scale(1.01);
        transition: 0.1s ease-in;
    }
    .education-list-item-college-year-container li {
        font-size: 16px;
    }
    .education-list-item-year p {
        font-size: 14px;
    }
    .education-list-item-major p {
        font-size: 14px;
    }
    .education-list-item-year {
        width: 95px;
    }
}
@media screen and (max-width: 810px) {
    .education-list-item-college-year-container li {
        font-size: 13.5px;
    }
    .education-list-item-year p {
        font-size: 12px;
    }
    .education-list-item-major p {
        font-size: 10.5px;
    }
    .education-list-item-year {
        width: 82px;
    }
}
@media screen and (max-width: 768px) {
    .education-card-container {
        margin-left: 8px;
        width: 95%;
    }
    .education-list-item-college-year-container {
        grid-template-columns: 3.1fr 0.9fr;
        margin-left: 1px;
    }
    .education-list-item-college-year-container li {
        font-size: 11px;
        font-family: "Poppins Semi Bold";
    }
    .education-list-item-year p {
        font-size: 8px;
        font-family: "Poppins Semi Bold";
    }
    .education-list-item-major p {
        font-size: 10px;
        margin-top: 2px;
        width: 200px;
    }
    .education-list-item-year {
        width: 62px;
    }
}
